In [24]:
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data = pd.read_csv('')
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [40]:
print(data.shape)
data.describe()

(1000, 8)

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [48]:
FurtherMaths = [75, 62, 80,56,35,47,68,90,70,45]
mean_x = np.mean(FurtherMaths)
print("\nMean: ", mean_x)

Mean:  62.8

In [49]:
data.corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

In [50]:
print(" % s"%(statistics.variance(data.FurtherMaths)))
print("% s"%(statistics.variance(data.English)))

AttributeError: 'DataFrame' object has no attribute 'FurtherMaths'

In [32]:
cov_mat = np.stack((data.FurtherMaths, data.English), axis = 0)
print(np.cov(cov_mat))

AttributeError: 'DataFrame' object has no attribute 'FurtherMaths'

In [33]:
plt.hist(data.FurtherMaths)

AttributeError: 'DataFrame' object has no attribute 'FurtherMaths'

In [35]:
plt.hist(data.English)

AttributeError: 'DataFrame' object has no attribute 'English'

In [ ]:
plt.hist([data.FurtherMaths, data.English])

In [ ]:
plt.scatter(data.FurtherMaths,data.English)

In [ ]:
plt.boxplot([data.FurtherMaths, data.English])
plt.show()